@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lobster&display=swap") * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

section {
}

.services__page {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.services__header h1 {
	font-size: 44px;
	height: 10vh;
	text-transform: capitalize;
}

.services__content {
	display: flex;
	justify-content: space-between;
}

.service {
	flex: 0.32;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid ;
	justify-content: center;
	text-align: center;
}

.service h1 {
	height: 6vh;
	text-align: center;
}

.sevices p {
	text-align: center;
}

@media screen and (max-width: 568px){
	.services__content {
		flex-direction: column;

	}
	.service h1{
		height: 2vh;
	}
	.services__page{
		width: 70%
	}
}